@charset "UTF-8";

#desktop{
	height:100vh;
	/* min-width:1000px; min-height:500px; */
	display:none;
	background:url("/Portfolio/resources/images/main/background.jpg") no-repeat center center;
	background-size:cover;
}

#desktop > ul{
	padding:15px 10px;
	list-style:none;
}

#desktop .file{
	width:75px;
	margin-bottom:30px;
	text-align:center;
}

#desktop .file.selected{
	box-shadow:2px 7px 15px 8px rgba(0, 0, 0, 0.2);
}

#desktop .file > img{
	width:55px;
}

#desktop .file > span{
	display:inline-block;
	padding-bottom:5px;
	font-family:none;
	font-size:13px; font-weight:100;
	color:#e9e9e9;
	
	/* 참고 : https://www.codingfactory.net/10650 */
	text-shadow:-1px 0px 2px black,
					  0px 1px 2px black,
					  1px 0px 2px black,
					  0px -1px 2px black;
}